<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSE Motors</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <main>
        <h1>Welcome to CSE Motors!</h1>
        <div class="delorean-container">
            <img src="/images/vehicles/delorean.jpg" alt="delorean" class="delorean">
            <div class="delorean-info">
                <h2>DMC Delorean</h2>
                <p>3 Cup holders<br>Superman doors<br>Fuzzy dice!</p>
                <div class="own">
                    <a href="#">Own Today</a>
                    <!-- <button>Own Today</button> -->
                </div>
            </div>
        </div>
        <div class="sections-container">
            <section class="upgrades">
                <h3>Delorean Upgrades</h3>
                <div class="upgrade-items">
                    <div class="upgrade-item">
                        <img src="/images/upgrades/flux-cap.png" alt="Flux Capacitor">
                        <a href=""><p>Flux Capacitor</p></a>
                    </div>
                    <div class="upgrade-item">
                        <img src="/images/upgrades/flame.jpg" alt="Flame Decals">
                        <a href=""><p>Flame Decals</p></a>
                    </div>
                    <div class="upgrade-item">
                        <img src="/images/upgrades/bumper_sticker.jpg" alt="Bumper Sticker">
                        <a href=""><p>Bumper Stickers</p></a>
                    </div>
                    <div class="upgrade-item">
                        <img src="/images/upgrades/hub-cap.jpg" alt="Hub Caps">
                        <a href=""><p>Hub Caps</p></a>
                    </div>
                </div>
            </section>
            <section class="reviews">
                <h3>DMC Delorean Reviews</h3>
                <ul>
                    <li><p>"So fast it's almost like traveling in time." (4/5)</p></li>
                    <li><p>"Coolest ride on the road." (4/5)</p></li>
                    <li><p>"I'm feeling McFly!" (5/5)</p></li>
                    <li><p>"The most futuristic ride of our day." (4.5/5)</p></li>
                    <li><p>"80's livin and I love it!" (5/5)</p></li>
                </ul>
            </section>
        </div>
    </main>
</body>
</html>
