<!-- views/account/changePassword.ejs -->

<form action="/account/changePassword" method="POST">
    <div>
      <label for="newPassword">New Password:</label>
      <input type="password" id="newPassword" name="newPassword" required>
      <p class="password-info">Enter a new password. Must be at least 8 characters long and include at least one uppercase letter, one lowercase letter, one number, and one special character.</p>
    </div>
    <input type="hidden" name="accountId" value="<%= accountId %>">
    <div>
      <input type="submit" value="Change Password">
    </div>
  </form>
  